<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table </title>
    <style>
        .table-wrapper {
  overflow-x: auto;
  max-width: 300px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

    </style>
</head>
<body>
    <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://via.placeholder.com/100" alt="Image"></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
              <td><img src="https://via.placeholder.com/100" alt="Image"></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
              <td><img src="https://via.placeholder.com/100" alt="Image"></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
          </tbody>
        </table>
      </div>
      


</body>
</html>