<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boooky Navbar</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header mf1-position-relative js-header ">
        <div class="header__container mf1-container mf1-max-width-lg">
          <div class="header__logo">
            <a href="#0">
              <img src="/assets/LogoBox.png" style="width:50px;height: 50px;" alt="Boooky Logo">
            </a>
          </div>
      
          <button class="mf1-btn mf1-btn--subtle header__trigger js-header__trigger" aria-label="Toggle menu" aria-expanded="false" aria-controls="header-nav">
            <i class="header__trigger-icon" aria-hidden="true"></i>
            <span>Menu</span>
          </button>
      
          <nav class="header__nav js-header__nav" id="header-nav" role="navigation" aria-label="Main">
            <div class="header__nav-inner">
              <div class="header__label">Main menu</div>
              <ul class="header__list">
                <li class="header__item"><a href="#0" class="header__link">Biz Haqimizda</a></li>
                <li class="header__item"><a href="#0" class="header__link">Blog</a></li>
                <li class="header__item"><a href="#0" class="header__link" aria-current="page">Reyting</a></li>
                <li class="header__item"><a href="#0" class="header__link">Kitoblar vs Ijodkorlar</a></li>
                <li class="header__item"><a href="#0" class="header__link">Contact</a></li>
                <li class="header__item header__item--divider" aria-hidden="true"></li>
                <li class="header__item"><a href="#0" class="header__nav-btn mf1-btn mf1-btn--primary">Register</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
  <script src="./app.js"></script>
</body>
</html>