  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: "Kaushan script", cursive;
}
.robot {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .head {
    content: 'O';
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    /* background-color: #3c3c3c; */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .eye {
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    width: 10px;
    font-size: 50px;
    height: 10px;
    border-radius: 50%;
    /* background-color: #f5f5f5; */
    transition: transform 0.3s ease-out;
  }
  
  .left-eye {
    left: 10px;
    z-index: 100;
    /* color: #FFF; */

  }
  
  .right-eye {
    right: 10px;
    z-index: 100;
    /* color: #FFF; */
  }
  
  .letter-o {
    position: absolute;
    top: -100px;
    left: 50%;
    background-color: inherit;
    /* transform: translateX(-50%) rotate(-64.57deg); */
    transform: rotate(64.57deg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    font-family: Kaushan Script, cursive;
    font-size: 100px;
    text-align: center;
    line-height: 50px;
  }
  
  .robot:hover .left-eye {
    transform: translate(-10px, -50%);
  }
  
  .robot:hover .right-eye {
    transform: translate(10px, -50%);
  }
  