@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,950;0,900;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #F7F8FA;
    /* background: linear-gradient(90deg, #4f6acc 10%, #0968D8 100%); */
}
nav{
    height: 50px;
    width: 100%;
    background-color: crimson;
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 1440px;
    height: 100vh;
    gap: 2rem;
}
.profileBox{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.squareBackground{
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    height: auto;
    max-height: max-content !important;
    margin: 20px 0 0 0;

}
.profileLeftBox{
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pr_infoBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25%;
    max-height: max-content;
    padding: 20px 10px;
}
.pr_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px 10px;
}
.pr_avatar {
    width: 150px;
    height: 150px;
}

.pr_avatar img{
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
}
.pr_titulBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
}
.nameUser{
    font-size: 22px;
    font-weight: 500;
}
.nicknameUser{
    font-size: 20px;
    font-weight: 400;
}
.pr_slogan{
    width: 100%;
    font-weight: 500;
    font-size: 18px;
}
.pr_details{
    height: 600px;
    min-height: 75%;
    max-height: max-content;
}

/* Profile Center ox */
.profileCenterBox{
    height: 95%;
}
/* Table Github Contribution Graph */
.profileCenterBox .squareBackground:nth-child(1){
    height: 170px !important;
    padding: 20px;
    background-image: url('/assets/logo.png');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.profileCenterBox .squareBackground:nth-child(2){
    height: 300px !important;
    padding: 20px;
    
}
.profileCenterBox .contribution-graph{
    margin: 20px;
}

.select {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .select:hover {
    border-color: #aaa;
  }
  
  .select:focus-within {
    border-color: #333;
  }
  
  .select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .select span.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .select:hover span.arrow {
    color: #aaa;
  }
  
  .select:focus-within span.arrow {
    color: #333;
  }
  
  .select select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border: none;
    outline: none;
  }
  
  .select select option:hover {
    background-color: #eee;
  }
  
.yearsBox{
    width: 100%;
    padding: 20px 0 0 0 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


/*  */

.profileRightBox{
    height: 95%;
}
