<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribution Graph</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Jasur -->
    <!-- HTML -->
<!-- <div class="contribution-graph"></div> -->

<!-- 
<div class="contribution-graph">
    <span class="contribution-graph-label">Less</span>
    <span class="contribution-graph-label">More</span>
    <div class="contribution-graph-svg"></div>
    <span class="contribution-graph-date"></span>
  </div>
   -->


<!-- HTML
<div class="contribution-graph">
    <div class="contribution-graph-legend">
      <span class="contribution-graph-legend-text">Less</span>
      <span class="contribution-graph-legend-box contribution-graph-day-0"></span>
      <span class="contribution-graph-legend-box contribution-graph-day-1"></span>
      <span class="contribution-graph-legend-box contribution-graph-day-2"></span>
      <span class="contribution-graph-legend-box contribution-graph-day-3"></span>
      <span class="contribution-graph-legend-box contribution-graph-day-4"></span>
      <span class="contribution-graph-legend-text">More</span>
    </div>
    <div class="contribution-graph-days">
    </div>
  </div> -->
  <div class="contributions">
    <div class="month">
      <span>Jan</span>
      <span class="month-divider"></span>
    </div>
    <!-- Add a span with class "month" and "month-divider" for each month -->
    <div class="month">
      <span>Feb</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Mar</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Apr</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>May</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Jun</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Jul</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Aug</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Sep</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Oct</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Nov</span>
      <span class="month-divider"></span>
    </div>
    <div class="month">
      <span>Dec</span>
    </div>
    <!-- Contribution squares will be added dynamically with JavaScript -->
  </div>
    <!-- Contribution squares will be added dynamically with JavaScript -->

    <script src="./app.js"></script>
</body>
</html>